.background-body {
    background-color: darkgreen;
    text-align: center;
    overflow: hidden;
}
.material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24
 }
.menu-header{
    background-color: coral;
    height:50px;
    border-radius: 10px;
}


.dropbtn {
    background-color: transparent;
    outline-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.gradient {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(to left, #ffef44, #39f83c);
    color: transparent;
    background-clip: text;
}

#map {
    width: 80vw;
    height: 85vh;
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
