body {
    background-color: darkgreen;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    background-image: linear-gradient(to left, #ffef44, #39f83c);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#map {
    width: 80vw;
    height: 85vh;
    margin: auto;
}
